body{
    padding: 5%;
}

ol li::marker {
    color: red;
    font-weight: bold;
}

ul li::marker {
    font-size: 35px;
    color: lightgreen;
}

.divfex{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.second{
    flex-grow: 2;
    border: 1px solid black;
}

.df{
    display: flex;
    flex-wrap: wrap;
}
.df>*{
    padding: 4%;
}

summary::marker {
    font-size: 35px;
    color: orange;
}

