body {
    margin: 0;
    display: flex;
    gap: 3em;
    margin: 3em;
    height: fit-content;
    font-family: 'IM Fell English SC', serif;
    background: url(../img/Parchemin6.jpg) no-repeat center/cover;
}

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
    -webkit-mask-image: url(../img/stain-alpha.png);
    mask-image: url(../img/stain-alpha.png);
    -webkit-mask-size: cover;
    mask-size: cover;  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;  
}

h1 {
    color: #fff;
    opacity: .7;
    width: 100%;
    font-size: 15vw;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: hard-light;
}